html {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

body {
    margin: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(36 83 74);
}

.titulo {
    font-size: 2rem;
    font-weight: 400;
    color: white;
    /* text-shadow: 1px 2px 0px rgba(150, 150, 150, 1); */
}

#textInput {
    padding: 5px;
    width: 85%;
    height: 20vh;
    outline: none;
}

#countButton {
    border-radius: 8px;
    margin-top: 5px;
    line-height: 30px;
    width: 60%;
    font-weight: 700;
    background-color: #35649d;
    color: white;
}

#lettersDiv, #wordsDiv {
    background-color: #add96b;
    width: 75%;
    height: fit-content;
    margin: 5px auto;
    text-align: start;
    font-size: 0.75rem;
    overflow: auto;
    color: #602f19;
}

@media only screen and (min-width: 800px) {

    .titulo {
        font-size: 3rem;
        font-weight: 600;
    }

    #textInput {
        padding: 5px;
        width: 50%;
        font-size: 1.3rem;
    }

    #countButton {
        font-size: 1.3rem;
        line-height: 50px;
        width: 20%;
    }
    #lettersDiv, #wordsDiv {
        font-size: 1.5rem;
        overflow: auto;
    }

}